@model Nop.Plugin.Payments.Saman.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="PaymentSaman" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @T("Admin.Plugins.SavedFields")
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TerminalId_OverrideForStore"
                                                     asp-input="TerminalId"
                                                     asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TerminalId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalId" />
                        <span asp-validation-for="TerminalId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AmountMultiplier_OverrideForStore"
                                                     asp-input="AmountMultiplier"
                                                     asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AmountMultiplier" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AmountMultiplier" />
                        <span asp-validation-for="AmountMultiplier"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="save" class="btn bg-blue">
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
